@using TutorWebApp.Models
@using TutorWebApp.Operations
@{
    ViewData["Title"] = "Home Page";


}



<div class="container pt-5">
    <div class="row">

       <nav aria-label="...">
           <ul class="pagination">

               <li class="page-item"><a class="page-link" href="/Home/Requests">Ajuta si castiga bani</a></li>

               <li class="page-item"><a class="page-link" href="/Home/PostRequest">Gaseste un tutor</a></li>

           </ul>           
         </nav>
      

    </div>
</div>

